#searchColumn {
  margin-top: -55px;
}

.myCard {
  border-radius: 10px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
  transition: 0.2s;
}
.myCard:hover {
  transition: 0.2s;
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.6s ease-in;
}

.btn-car {
  background-color: #5cb85f;
  color: white;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #5cb85f;
  transition: 0.3s ease-in-out;
}

.btn-car:hover {
  border: 1px solid #5cb85f;
  background-color: white;
  color: #5cb85f;
}
