.text-nav {
  font-weight: 500;
  transition: 0.3s;
}
.text-nav:hover {
  font-weight: 600;
  transform: scale(1.1);
}

.home-logo {
  background-color: #0d28a6;
  color: white;
  padding: 8px 12px;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #0d28a6;
  transition: 0.3s ease-in-out;
}

.home-logo:hover {
  border: 1px solid #0d28a6;
  background-color: white;
  color: #0d28a6;
}
